* {
  box-sizing: border-box;
}

.cell {
  width: 3vh;
  height: 3vh;
  border: 1px solid black;
  margin: 1px;
  transition: 0.1s ease;
}

body {
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
}

.food {
  background: linear-gradient(to bottom, #299a0b 0%, #299a0b 100%);
}

.snake {
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
